.sidebar {
  width: 200px;
  transition: all 0.3s ease;
  height: 100vh;
  background-color: rgb(10, 25, 41);
  padding-top: 28px;
}

.sidebarClosed {
  padding-top: 28px;
  width: 65px;
  transition: all 0.3s ease;
  background-color: rgb(10, 25, 41);
  height: 100vh;
}

@media (max-width: 500px) {
  .sidebar {
    padding-top: 28px;
    width: 65px;
    height: 100vh;
    transition: all 0.3s ease;
  }

  .linkText {
    padding-left: 20px;
    display: none;
  }
}

.sideitem {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  color: #b2bac2;
  text-decoration: none;
}

.linkText {
  padding-left: 20px;
}

.linkTextClosed {
  display: none;
  padding-left: 20px;
}

.sideitem:hover {
  background-color: #244f7d1c;
}

.menuBtn {
  align-self: center;
  align-self: flex-start;
  justify-self: flex-end;
  color: #b2bac2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 20px;
}
